#sidebar {
    height: 100%; 
    width: 100%;
}

#canvas {
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}

#simulation {
    height: 20%;
    border-width: 2px;
    border-top-color: gray;
}

input[type=text] {
    width: 49%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=button]  {
    background-color: rgb(34, 137, 255);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.9;
}
  
button:hover {
    opacity:1;
}

.cardtitle{
    font-size: 130%;
}

#dij  {
    background-color: rgb(34, 137, 255);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 99%;
    opacity: 0.9;
}